#img {
    height: 5em;
    width: auto;
}
body{
    background-color: #191414;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    /*border: 3px solid purple;*/
} 
thead th:nth-child(1) {
    width: 20%;
} 
thead th:nth-child(2) {
    width: 20%;
}
thead th:nth-child(3) {
    width: 15%;
}
thead th:nth-child(4) {
    width: 25%;
}
thead th:nth-child(5) {
    width: 15%;
} 
th, td {
    padding: 20px;
}
html {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
}
thead th, tfoot th {
    font-family: "Rock Salt", cursive;
} 
th {
    letter-spacing: 2px;
    text-align: center;
    max-height: 5%;
}
td {
    letter-spacing: 1px;
}
tbody td {
    /* Use this code if you want to make the data (artists and tracks) centered */
    /* text-align: center; */
}
tfoot th {
    text-align: right;
}
thead, tfoot {
  color: white;
  text-shadow: 1px 1px 1px black;
}
thead th, tfoot th, tfoot td {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.5)
  );
  border: 2px solid white;
}
tr {
    font-weight: bold;
}
tbody tr:nth-child(odd) {
    background-color: #cc8ae8;
}
tbody tr:nth-child(even) {
    background-color: #e597e2;
}
table {
    background-color: #924bee;
}
/* .metadata {
    height: 0px;
} */

/* Code for the Search Input */
.input-group{
    margin: auto;
    margin-top: auto;
    width: 50%;
}
.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.button-elements button {
    margin: auto;
    display: block;
    background-color: #924bee;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 20px;
}    
.button-elements button:hover {
    background-color: #df7bda;
}   

.table button{
    margin: auto;
    display: block;
    background-color: #924bee;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 20px;
}