div {
    text-align: center;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 3%;
    padding: 20px;
    background-color: #212121;
    border-radius: 30px;
}

.container h2 {
    margin: 0;
    padding: 10px;
    color: white;
}

.container p {
    color: white;
}
a
.input-group {
    /*margin: 15px 0;*/
    margin: 0 auto;
    margin-top: 30px;
    width: 80%;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
}

body {
    background-image: url('../../images/purple-bg-full.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#students {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
  }
  
  #students td, #students th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #students td {
    background-color: white;
  }
  
  #students tr:hover {background-color: #eee4fd;}
  
  #students th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #954fee;
    color: white;
  }