/*-----------------------------------*/
/*--- IMPORT STYLES FOR Mortpages ---*/
//@import "minima/Nighthawkpages-styles";   

/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/
  
// Header

.header {
    overflow: hidden;
    background-color: #212121;
    padding: 20px 10px;
}
  
.header a {
    float: left;
    color: #924bee;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.header:hover a:hover {
    background-color: #3d3d3d;
    //background-color: #df7bda;
    color: white;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    color:#924bee;
}
  
.header a:hover {
    background-color: #212121;
    color: #924bee;
}
  
.header a.active {
    background-color: #212121;
    color: #924bee;
}
  
.header-right {
    float: right;
}
  
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
        color: #212121;
    }

    .header-right {
        float: none;
    }
}

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
// If you want to use dark themes uncomment out the following lines
//@import "minima/Nighthawkpages-dracula-highlight"; 
//@import "minima/Dark_Mode"; // Dracula Highlight recommended for dark mode