/*-----------------------------------*/
/*--- IMPORT STYLES FOR Mortpages ---*/
//@import "minima/Nighthawkpages-styles";   

/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/
  
// Header

.header {
    padding-right: 30px;
    padding-left: 30px;
    height: 8em;
    background-color: #212121;
    
}

.header .inner {
    max-width: calc(1000px - (30px * 2));
    overflow: hidden;
    padding: 20px 10px;
    font-family: "Trebuchet MS";
    display: flex;
    justify-content: center;
    vertical-align: middle;
    height: 8em;
    margin: auto
}
  
.header a {
    float: left;
    color: #924bee;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    margin: auto;
}

.header:hover a:hover {
    background-color: #3d3d3d;
    //background-color: #df7bda;
    color: white;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    color:#924bee;
    margin-left: 1em
}
  
.header a:hover {
    background-color: #212121;
    color: #924bee;
}
  
.header a.active {
    background-color: #212121;
    color: #924bee;
}
  
.header-right {
    margin: auto;
    margin-right: 1em;
}
  
body {
    background-image: url('../../images/purple-bg.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
        color: #212121;
    }

    .header-right {
        float: none;
    }
}

.wrapper {
    background-color: rgb(24,24,24);
    margin-top: -60px
}

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
// If you want to use dark themes uncomment out the following lines
//@import "minima/Nighthawkpages-dracula-highlight"; 
//@import "minima/Dark_Mode"; // Dracula Highlight recommended for dark mode